# Inference Benchmark Resultater

![bg right:70% fit](../images/performance-test.png)

